{% extends '@mailing/email_base.html.twig' %}
{% block content %}
    <td bgcolor="#f4f4f4" align="center" style="padding: 0 10px 0 10px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
            <tr>
                <td bgcolor="#ffffff" align="left"
                    style="padding: 20px 30px 40px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                    <p style="margin: 0;">Cześć {{ userEmail }}</p>
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" align="left"
                    style="padding: 20px 30px 40px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                    <p style="margin: 0;">Aby zresetować hasło skopiuj kod i wklej go w aplikacji mobilnej:</p>
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" align="left">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td bgcolor="#ffffff" align="center" style="padding: 20px 30px 60px 30px;">
                                <table border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center">
                                           <p>{{ token }}</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" align="left"
                    style="padding: 0 30px 20px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                    <p style="margin: 0;">Ten email został wygenerowany automatycznie, nie odpowiadaj na niego.</p>
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" align="left"
                    style="padding: 0 30px 40px 30px; border-radius: 0 0 4px 4px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                    <p style="margin: 0;">Pozdrawiamy,<br>Zespół KaroRoad</p>
                </td>
            </tr>
        </table>
    </td>
{% endblock %}
